*,
*::after,
*::before,
html {
  // sass-lint:disable-block no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

// body {
//   width: 300px;
//   height: 250px;
//   overflow: hidden;
//   user-select: none;
//     -moz-user-select: none;
//     -khtml-user-select: none;
//     -webkit-user-select: none;
//     -o-user-select: none;
// }
