
$dot-height: 2px;
$dots-container-width: 300px;

.progress-bar-container {
  top: -150px;
  height: $dot-height;
  position: relative;
  opacity: 0.9;
  width: $dots-container-width;
  display: flex;
  z-index: 4;
  left: 0;
  .progress-bar {
    top: 0px;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    width: $dots-container-width;
    display: flex;
    transition: opacity 0.8s, height 0.8s;
    .progress {
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #fff;
      transition: width 8s;
      width: 0; /* dynamic value */
    }
    
  }
}