/* if you want to use separate CSS files, include into main CSS like this */
@import 'assets/base';
@import 'assets/iebackup';
@import 'assets/footer';
@import 'assets/progress';
@import 'assets/sections';
@import 'assets/swipper';

@mixin material-shadow() {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}
$module-font-size: 14px;
$bezier: cubic-bezier(.25,.8,.25,1);

#ystories-container {
  display: block;
  overflow: hidden;
  width: 300px;
  height: 600px;
  position: absolute;
  top:0;
  left: 0;
  background: linear-gradient(150deg, #e6d3f9 0%, #e6d3f9 50%, #cea0f1 50%, #cea0f1 100%);
}
